$brand-primary: #5a3ee0;
$brand-secondary: #20bcfa;
$brand-success: #28a745;
$brand-warning: #ffc107;
$brand-danger: #dc3545;
$brand-info: #17a2b8;
$brand-dark: #2c2c2c;

$theme-colors: (
  primary: $brand-primary,
  secondary: $brand-secondary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger,
  dark: $brand-dark
) !default;

/* Custom File input */
$inputfile-text: black;
$inputfile-texthover: white;
$inputfile-background: transparent;
$inputfile-backhover: $brand-primary;

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &.w100 + label {
    width: 100%;
    text-align: center;
  }

  & + label {
    font-size: 1.05rem;
    font-weight: 700;
    color: $inputfile-text;
    background-color: $inputfile-background;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    padding: 10px;
    border: 1px dashed $inputfile-text;
    word-break: break-word;

    &:hover,
    &:focus {
      background-color: $inputfile-backhover;
      color: $inputfile-texthover;
      border-color: $inputfile-backhover;
    }
  }

  &:focus + label {
    outline: 1px dotted $inputfile-backhover;
    outline: -webkit-focus-ring-color auto 5px;
  }

  // Manejo de colores
  &.input-success {
    & + label {
      font-size: 1.05rem;
      font-weight: 700;
      color: $brand-success;
      background-color: $inputfile-background;
      display: inline-block;
      cursor: pointer; /* "hand" cursor */
      padding: 10px;
      border: 1px dashed $brand-success;
      word-break: break-word;

      &:hover,
      &:focus {
        background-color: $brand-success;
        color: $inputfile-texthover;
        border-color: $brand-success;
      }
    }

    &:focus + label {
      outline: 1px dotted $brand-success;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}

/* BTN LINKS DE COLORES */
.btn-link {
  &.link-warning {
    color: $brand-warning;
    &.btn-link:disabled,
    &.btn-link.disabled {
      color: darken($brand-warning, 15%);
    }
  }

  &.link-success {
    color: $brand-success;
    &.btn-link:disabled,
    &.btn-link.disabled {
      color: darken($brand-success, 15%);
    }
  }

  &.link-danger {
    color: $brand-danger;
    &.btn-link:disabled,
    &.btn-link.disabled {
      color: darken($brand-danger, 15%);
    }
  }
}

.line-through {
  text-decoration: line-through;
}

// Header Info Bar
#info-bar {
  position: fixed;
  left: 0;
  height: auto;
  width: 100%;
  background-color: $brand-primary;
  color: #ffffff;
  z-index: 999;
  padding: 5px 0;
  .available-item {
    cursor: default;
  }
}

.hover-card:hover {
  background-color: #f2f2f2 !important;
}

label.required:after {
  content:" *";
  color: red;
}


.btn-circle {
  width: 32px;
  height: 32px;
  padding: 0px !important;
  border-radius: 50% !important;
  text-align: center !important;
  font-size: 14px !important;
  line-height: 1.42857 !important;
  i {
    vertical-align: middle;
  }
}
