$brand-primary: #5a3ee0;
$brand-secondary: #20bcfa;
$brand-success: #28a745;
$brand-warning: #ffc107;
$brand-danger: #dc3545;
$brand-info: #17a2b8;
$brand-dark: #2c2c2c;

$theme-colors: (
  primary: $brand-primary,
  secondary: $brand-secondary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger,
  dark: $brand-dark
) !default;

/* -------------------------------------
  Landing Page
----------------------------------------*/

// Sections
.section {
  padding: 5rem 0;
  &.call-to-action {
    padding: 3rem 0;
    z-index: 1;
  }
}
.section.parallax-section {
  min-height: 100vh;
}

// Sections titles with hr
.section-title h2 {
  margin-bottom: 3rem;
  position: relative;
  text-align: center;
  &.hr-white {
    &:after {
      content: "";
      height: 5px;
      width: 40px;
      border-radius: 40px;
      position: absolute;
      bottom: -20px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      background: #ffffff;
    }
  }
  &.hr-black {
    &:after {
      content: "";
      height: 5px;
      width: 40px;
      border-radius: 40px;
      position: absolute;
      bottom: -20px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      background: #000000;
    }
  }
}

// Home
.parallax-section {
  background-image: image-url("bg-landing.jpg");
  background-attachment: fixed;
  background-position: 70% center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.gradient-overlay:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  // z-index: 0;
  color: #5779fd;
  background-image: -webkit-linear-gradient(90deg, #06dcf9 0%, #7455ff 100%);
  background-image: -moz-linear-gradient(90deg, #06dcf9 0%, #7455ff 100%);
  background-image: -o-linear-gradient(90deg, #06dcf9 0%, #7455ff 100%);
  background-image: linear-gradient(90deg, #06dcf9 0%, #7455ff 100%);
  opacity: 0.7;
}
@media (min-width: 990px) and (max-width: 2500px) {
  .parallax-section {
    background-size: auto 100%;
    background-position: right 0% top 40%;
  }
  .gradient-overlay:before {
    width: 45%;
    opacity: 1;
  }
}

// What is it
.what-is-section {
  img.logo-neuro {
    max-width: 350px;
    width: 100%;
  }
  img.what_item {
    max-width: 250px;
    width: 100%;
  }
}

// Benefits
.benefits-section {
  .benefit-box {
    width: 95%;
    padding: 20px 10px;
    .benefit-icon {
      width: 90px;
    }
  }
}

// Plans
.plans-section {
  .price-card {
    border-radius: 0;
    padding: 30px 3%;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    .card-title {
      color: $brand-primary;
    }
    .plan-name {
      letter-spacing: 5px;
      font-size: 0.6rem;
    }
    .list-group-flush {
      color: gray;
      padding: 10px 20px;
    }
    &:hover,
    &:focus {
      border-radius: 10px;
      cursor: pointer;
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      color: #ffffff;
      transform: scaleY(1.02);
      border-color: $brand-secondary;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      .card-title {
        color: #ffffff;
      }
      .list-group-flush {
        color: #fff;
      }
      .btn {
        background-color: $brand-primary;
        color: #ffffff;
      }
    }
  }
}
