/* -------------------------------------
  Test View
----------------------------------------*/

.test-container {
  // .zyvo-tezt-container {
  //   max-height: 100vh;
  //   padding-bottom: 40px;
  // }
  img.test-img {
    max-width: 250px;
    width: 100%;
  }
  iframe.zyvo-test {
    height: 100vh;
    //padding-bottom: 40px;
    width: 100%;
  }
  footer.footer {
    p {
      font-size: 10px;
      color: #868686;
      line-height: 12px;
    }
    a {
      color: #20bcfa;
    }
    img.logo-footer {
      max-width: 80px;
      width: 100%;
    }
  }
}


@media (min-width: 720px) {
  .test-container {
    iframe.zyvo-test {
      //padding-bottom: 59px;
    }
    footer.footer {
      height: 60px;
      p {
        font-size: 12px;
        line-height: 14px;
      }
      img.logo-footer {
        max-width: 120px;
        width: 100%;
      }
    }
  }
}